# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
*.env

# VS Code settings
.vscode/

# Environment variables
.env

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Other
*.sqlite3
*.db